<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rwwa;AccountKey=vyMfaSPxURHXZaIhhFJQRg5ZLEN6qDj4yU78r3oeOH+pZzdcf4S86QvGAsB6L8JaPti9qJbB929hy1Y9hipFmw==" />
  </appSettings>
  <log4net>
    <appender type="ClientLog.TableStorageAppender, ClientLog" name="TableStorageAppender">
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file type="log4net.Util.PatternString" value="./../../../logs/Log_%date{dd-MM-yyyy}.log"/>
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="TableStorageAppender" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>